dist: xenial
env:
  global:
  - PROJECT_NAME: sticker
addons:
  apt:
    packages:
    - patchelf
matrix:
  fast_finish: true
  include:
  - language: python
    python: 3.6
    before_script:
      - cd sticker-graph
      - pip install tensorflow==1.15.0 toml
    script:
      - python setup.py test
      - ./sticker-write-rnn-graph --rnn_layers 2 --hidden_size 100 testdata/sticker.shapes rnn.graph
      - ./sticker-write-conv-graph --levels 6 --hidden_size 100 testdata/sticker.shapes conv.graph
      - ./sticker-write-transformer-graph testdata/sticker.shapes trans.graph
      - ./sticker-write-transformer-graph --outer_hsize 400 --pass_inputs --num_heads 8 testdata/sticker.shapes trans-pass-input.graph
      - ./sticker-write-transformer-graph --outer_hsize 400 --pass_inputs --num_heads 8 --embed_time --max_time 150 testdata/sticker.shapes trans-time.graph
  - language: rust
    os: linux
    rust: stable
    env: TARGET=x86_64-unknown-linux-gnu
  - language: rust
    os: osx
    rust: stable
    env: TARGET=x86_64-apple-darwin
  - language: rust
    os: linux
    rust: 1.32.0
    env: TARGET=x86_64-unknown-linux-gnu
before_script:
- rustup component add clippy
- rustup component add rustfmt
script: ci/script.sh
before_deploy: ci/before_deploy.sh
deploy:
  provider: releases
  api_key:
    secure: ED+coeBzeejeEMZLMAZlhmLTdlNjo8R2PcILmpRN6/J4e2c65YkmW/xvZFhCsX5enNVKwQwF9DAA0l5KOInZMk9Pgx5qmWDgzxQBUMHl0HCI+U+0xOhye9SYTy1GSvumdGAfoSewf9Pbs7jWSy9GWCaJ+e2rParS71G/MyosKz8ZN72z1CaCO9i7uWs9XTGrp1z4K8pSPAZfNRnKn6So8BijKGfZkrK7s0u7tH26CEcXOfgr3A1k9oumr5NKSFf6b4Avvhc25nkQqVSLF7LRVVwjlIUREGoUgAWk14zWtW/RL1UotRg1Vp3pZvdc/MsKGWACvANxQWx2FKdTQZE4dgO90oltzZZ3yoKfogDddZBRNvyhR55l46iEFTyimq7bsoRKlMwkhUOQ+2u33JxorHxIX9kq+8hys5XlDLs+Fp7GGAV2HMO4TWGqRFy5NzM1aNt4T98DwL0yb+vxXyCTYxih0782CImDpE7+7o013b4zOnlKBELy9kTr4rmUVrDQtAErC+qJI47gdZOBQdHs/2GTQBULlNxcTrjRtVrGoHuCYbYz92nFIbzmfswbilmAP1rtV1FyxWcjjX1WaOsLbfK8inRFmumaVMfnpK6e9TGywunL2gNa5+VUYudKK+X9xKcYJSHXkybXE2vZAnbvdgRycEXNwHyfIdrkRREc+XU=
  file_glob: true
  file: deployment/${PROJECT_NAME}-${TRAVIS_TAG}-${TARGET}.tar.gz
  skip_cleanup: true
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    repo: stickeritis/sticker
    tags: true
